<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>User一覧</h2>
			<div class="user-index">
				<% @users.each do |user| %>
					<ul>
						<li>
							<div class="user-box">
								<p><%= attachment_image_tag(user, :profile_image, :fill, 200, 200, fallback: "no-image-mini.jpg") %></p>
								<p>名前:<%= user.name %></p>
								<p><%= link_to "ユーザー詳細", user_path(user)%></p>
							</div>
						</li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</div>
