<div class="main-visual2">
	<div class="welcome">
		<p class="welcome-text2">SMOOTHIE_ROOMとは</p>
	</div>
</div>

<div class="about-text">
	<div class="col-xs-12">
		<h3>SMOOTHIE_ROOM</h3>
		<p>健康・美の意識が</p>
		<p>高まっている現代</p>
		<p>スムージーを飲んで</p>
		<p>心も体も</p>
		<p>元気になろう</p>
		<p>このサイトでは</p>
		<P>投稿されたレシピを見たり</P>
		<P>お気に入りのレシピを</P>
		<P>投稿したりと</P>
		<P>スムージー生活を楽しむことができます</P>
		<p>
			<%= link_to '会員になろう', new_user_registration_path, class: "btn btn-default" %>
		</p>
	</div>
</div>