<div class="main-visual">
	<div class="welcome">
		<p class="welcome-text">WELCOME TO<br>SMOOTHIE_ROOM</p>
	</div>
</div>

<div class="top-text">
	<div class="col-xs-12">
		<h3>SMOOTHIE_ROOM</h3>
		<p>このサイトはスムージーの</p>
		<p>レシピ投稿サイトになります</p>
		<p>会員でない方も</p>
		<p>レシピの閲覧はできますが、</p>
		<p>レシピの投稿には</p>
		<p>会員登録が必要になります。</p>
		<p>
			<%= link_to 'もっと知る', home_about_path, class: "btn btn-default" %>
			<%= link_to '会員になろう', new_user_registration_path, class: "btn btn-default" %>
		</p>
	</div>
</div>